<!DOCTYPE HTML>
<!--
	Prologue by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>{{ .Title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="https://res.cloudinary.com/diy2hv1ds/image/upload/e_grayscale/v1587468247/avatar_ugmyw1.jpg" alt="" /></span>
							<h1 id="title">{{ .Site.Params.name }}</h1>
							<p>{{ .Site.Params.description }}</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<!--

								Prologue's nav expects links in one of two formats:

								1. Hash link (scrolls to a different section within the page)

								   <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

								2. Standard link (sends the user to another page/site)

								   <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>

							-->
							<ul>
								<li><a href="#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Home</span></a></li>
								<li><a href="#about" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">About</span></a></li>
								<li><a href="#portfolio" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Portfolio</span></a></li>
								<li><a href="#contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Contact</span></a></li>
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
              {{ range .Site.Params.social }}
              <li><a href="{{ .link }}" class="icon fa-{{ .icon }}"><span class="label">{{ .medium }}</span></a></li>
              {{ end }}
						</ul>

				</div>

			</div>

		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<p>&nbsp;</p>
								<p>&nbsp;</p>
								<div align="center"><h2><strong>Alien101</strong></h2></div>
							</header>

							<footer>
								<div align="center"><a href="#about" class="button scrolly">Find out more</a></div>
							</footer>

						</div>
					</section>
					<!-- About Me -->
						<section id="about" class="three">
							<div class="container">

								<header>
									<h2>About</h2>
								</header>

								<p>Alien101, whose real name is Lola Marquez, is a hedonist curious about new technology and passionate about electronic music. What she enjoys most is conveying her emotional response to music through visual artistry. </p><p>Alien101’s eccentric perception of reality (and a belief in aliens) inspires her work. As a result, her photographic and short movie creations are focused on the surreal:</p>
								<p>“I share my flat with two mannequins…and a husband! They are my models and allow me to do anything with them without complaining.”</p><p>Alien101 defines herself as a ‘digital pop artist’. Her inventions are inspired by film-makers, painters, and photographers, including David Lynch, Stanley Kubrick, Dorothea Tanning and Tim Walker.</p>

								<div class="image"><img src="https://res.cloudinary.com/diy2hv1ds/image/upload/v1582055779/alien101-at-work-web_xghzym.jpg" alt="Alien101 at work with her mannequins" /></div><br /><br />

<p>Alien101 uses advanced VDMX software for VJing and MadMapper for video mapping during her live performances. Where possible, she prefers to be positioned standing on stage alongside the musician with whom she's performing, rather than sitting in the sidelines.</p>
							</div>
						</section>

				<!-- Portfolio -->
					<section id="portfolio" class="two">
						<div class="container">
							<header>
								<h2>Portfolio</h2>
							</header>
							<p>Alien101 regularly attends and performs at AV events around London. She has provided live visuals for many electronica performances, including featured shows at <a href="https://www.instagram.com/explore/tags/stowlab/?hl=en">StowLab</a>, <a href="https://www.instagram.com/plugged.music/">Plugged</a>, <a href="https://www.crux-events.org/">CRUX</a>, <a href="https://www.facebook.com/MR.SLIMOFLONDON/">Feedback</a>, <a href="https://www.facebook.com/imerseevents">Imerse Presents</a>, <a href="https://www.facebook.com/events/717486298778779/">5th Dimension and Ravenswood for Eat or Heat Festival</a>. She is currently performing live with the Australian electronic musician, <a href="https://www.facebook.com/Solflaremusic">Sol Flare</a> (aka Dominic Wood), who combines 80’s synths, dance floor beats and soulful elements.</p>
					<header>
<h3>Videos</h3>
</header>
<p>A music video Alien101 made for <a href="https://soundcloud.com/djthemajor" target="_blank">The Master</a>, a DJ and music producer. Live-streamed at a <a href="https://www.facebook.com/events/295263181786040/" target="_blank">Plugged IN</a> event in October 2020.
	<div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
	  <iframe src="https://player.vimeo.com/video/469468308" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div><br />
<p>Footage from an event in February 2020: <a href="https://www.facebook.com/events/625569358275737/">Feedback Presents My Bloody Valentine</a> at the <a href="https://www.thepaxtoncentre.co.uk">Paxton Centre</a>.</p>
<div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
  <iframe src="https://player.vimeo.com/video/392300503" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div><br />
<p>A music video that Alien101 produced for And/Or's officially released track, <a href="https://and-or-uk.bandcamp.com/track/chattels">Chattels</a>. She played it and other material during the launch of the band's Satellites EP at <a href="https://newriverstudios.com/">New River Studios</a>.</p>
<div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
  <iframe src="https://player.vimeo.com/video/304614145" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div><br /><br />

<header>
 <h3>Stills</h3>
</header>
 								A flavour of the type of content Alien101 uses at gigs. One of her favourite things is to include messages in her visuals which the audience can respond to during the music.</p>
               <div class="row">
                 <div class="4u 12u$(mobile)">
                   {{ range .Site.Params.portfolio1 }}
                   <article class="item">
                     <a href="{{ .url }}" class="image fit"><img src="{{ .source }}" alt="{{ .alt }}" /></a>
                     <header>
                       <h3>{{ .title }}</h3>
                     </header>
                   </article>
                   {{ end }}
                 </div>

                 <div class="4u 12u$(mobile)">
                   {{ range .Site.Params.portfolio2 }}
                   <article class="item">
                     <a href="{{ .url }}" class="image fit"><img src="{{ .source }}" alt="{{ .alt }}" /></a>
                     <header>
                       <h3>{{ .title }}</h3>
                     </header>
                   </article>
                   {{ end }}
                 </div>

                 <div class="4u 12u$(mobile)">
                   {{ range .Site.Params.portfolio3 }}
                   <article class="item">
                     <a href="{{ .url }}" class="image fit"><img src="{{ .source }}" alt="{{ .alt }}" /></a>
                     <header>
                       <h3>{{ .title }}</h3>
                     </header>
                   </article>
                   {{ end }}
                 </div>
               </div>

</section>

				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h2>Contact</h2>
							</header>

							<p>Like what you see? Get in touch. With Alien101's help, you'll be able to transform your electronic music gig into a truly exceptional event. Drop her a line using the below form:

								<form name="contactalien" netlify method="post">
								  <input type="hidden" name="form-name" value="contactalien" />
									<p>
										<label>Name: <input type="text" name="name" required/></label>
									</p>
									<p>
										<label>Email: <input type="email" name="email" required/></label>
									</p>
									<p>
										<label>Message: <textarea name="message" required></textarea></label>
									</p>
									<p>
										<button type="submit">Send</button>
									</p>
								</form>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<div id="footer">

				<!-- Copyright -->
					<ul class="copyright">
						<li>&copy; {{ .Site.Params.copyright }} </li>
					</ul>

			</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/jquery.scrollzer.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
			<script src="/js/main.js"></script>

	</body>
</html>
